.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav[_ngcontent-c1] .mat-toolbar[_ngcontent-c1] {
    background: #3e4fbc;
    color: #fff;
}

#btn-accesso{
  margin: 20px;
}

#testo-trigger {
  position: relative;
  padding: 5px;
}

.mat-sidenav-container{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
