<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$)">
    <mat-toolbar>Accedi</mat-toolbar>
    <mat-nav-list>
      <mat-tab-group id="tab-log">
          <mat-tab label="Accedi"><app-form></app-form></mat-tab>
          <mat-tab label="Registrati"><app-form></app-form></mat-tab>
      </mat-tab-group>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button id="accesso"
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$">
        <mat-icon aria-label="Side nav toggle icon">insert_emoticon</mat-icon> <span id="testo-trigger">ACCEDI</span>
      </button>
      <span>progettoDashboard</span>
      <ng-content></ng-content>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
