<div class="contenitore">
  
  <form class="form-contatto" [formGroup]="mioForm" (ngSubmit)="registrazione()">

    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>
    <span class="validatore" *ngIf="nome.invalid && nome.dirty">Il tuo nome dovrebbe avere almeno 4 caratteri</span>

    <mat-form-field>
      <input matInput placeholder="Cognome" formControlName="cognome">
    </mat-form-field>
    <span class="validatore" *ngIf="cognome.invalid && cognome.dirty">Questo campo non può contenere meno di 4 caratteri</span>



    <mat-form-field>
      <input matInput placeholder="Città" formControlName="citta">
    </mat-form-field>
    <span class="validatore" *ngIf="citta.invalid && citta.dirty">Scrivi correttamente il nome della tua città</span>


    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <span class="validatore" *ngIf="email.invalid && email.dirty">Scrivi correttamente il tuo indirizzo email</span>

  

  <mat-form-field matTooltip="Usa il calendario a destra per selezionare una data">
    <input matInput [matDatepicker]="myDatepicker" placeholder="Data di Nascita" disabled>
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker disabled="false"></mat-datepicker>
  </mat-form-field>

  </form>

  <button id="btn-registrazione" (click)="registrazione()" mat-raised-button color="primary" [disabled]="this.nome.invalid || this.cognome.invalid || this.citta.invalid || this.email.invalid"> ISCRIVITI </button>

</div>