.form-contatto{
  display: grid;
  width: 100%;
  margin: 50px auto;
  background-color: #fff;
  padding: 10px 0;
}

#btn-registrazione{
  margin: 0 auto;
  display: block;
  width: 100%;
}

.contenitore{
  margin: 0 35px;
}